.grid{
    border: 2px solid #febd26;  
    margin: auto;
    display: grid;
    margin: 0 40px 20px 40px;
}

.grid-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}