.header{
font-size: 2.5rem;
text-align: center;
font-weight: 700;
background: black;
height: 65px;
color: white;
position: relative;
}

.mark{
    color: #f9c74f;
}

.header-icon{
position: absolute;
right: 10px;
height: 30px;
width: 30px;
top: 15px;
cursor: pointer;
}

.info-icon:hover{
    color: #69cbe6;
}

.close-icon:hover{
    color: rgb(250, 98, 98);
}