.main{
    min-height: calc(100vh - 65px);
    background: linear-gradient(to bottom right, #d8f3dc,#95d5b2 );
}

.grid-btn{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    outline: none;
    height: 60px;
    width: 100px;
    cursor: pointer;
    background: none;
    border: 1px solid #14746f;
    background: #14746f;
    color: #d8f3dc;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.25s;
}

.btn:hover{
    background: #d8f3dc;      
    color: #14746f;
    border: 1px solid #14746f;
}

.btn:active{
    transform: scale(0.9);
}

.grid-outline{
    background: #febd26;
}